/* Master styles */

body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Nav styles */

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

/* Portfolio styles */

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
}

.img-text-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}

.img-text-wrapper:hover .subtitle {
  color: lightseagreen;
  font-weight: 600;
}


/* About page */

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}


/* Contact us page */

.contact-parent{
  background: #fff;
  display: flex;
  margin:80px 0;
}

.contact-child{
  display: flex;
  flex: 1;
  box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
}

.child1{
  background:linear-gradient(rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.575)), url("images/img13_The-Monet-Family-in-Their-Garden-at-Argenteuil.jpg");
  background-size:cover;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  color:#fff;
  padding:100px 0;
}

.child1 p{
  padding-left:20%;
  font-size:20px;
  text-shadow:0px 0px 2px #000;
}

.child1 p span{
  font-size:16px;
  color:#9df2fd;
}

.child2{
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.inside-contact{
  width:90%;
  margin:0 auto;
}

.inside-contact h2{
  text-transform:uppercase;
  text-align:center;
  margin-top:50px;
}

.inside-contact h3{
  text-align:center;
  font-size:16px;
  color:#0085e2;
}

.inside-contact input, .inside-contact textarea{
  width:100%;
  background-color:#eee;
  border:1px solid rgba(0,0,0,0.48);
  padding:5px 10px;
  margin-bottom:20px;
}

.inside-contact input[type=submit]{
  background-color:#000;
  color:#fff;
  transition:0.2s;
  border:2px solid #000;
  margin:30px 0;
}

.inside-contact input[type=submit]:hover{
  background-color:#fff;
  color:#000;
  transition:0.2s;
}

@media screen and (max-width:991px){
  .contact-parent{
      display:block;
      width:100%;
  }

  .child1{
      display:none;
  }

  .child2{
      background-image:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255,255,255,0.7)), url("images/img13_The-Monet-Family-in-Their-Garden-at-Argenteuil.jpg");
      background-size:cover;
  }

  .inside-contact input, .inside-contact textarea{
      background-color:#fff;
  }
}

